.parent{
    height: 90vh;
    width: 90vw;
    background-color: bisque;
    padding: 1rem;
    display: grid;
    gap: 10px;
    
    font-size: 2.5rem;
}

.child{
    background-color: blueviolet;
    color: white;
    border: 2px solid black;
}



@media(min-width: 600px){

    #header{
    grid-column-start: 1;
    grid-column-end: 2;
}

#nav{
    grid-column-start: 1;
    grid-column-end: 2;
}

#aside{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
}