#bgcolor{
    background-color: red;
    color:white
    text-align
    text-align:left;
    text-align: center;
   /text-align:right/
   /text-align:start/
   /text-align:end/

   /text-align:decoration/
   text-

   /text-align:underline;/
   /text-align:overline;/
   /text-align:line-through;/

   /text transform;capitalize;/
   /text transform: uppercase;/
   /text-transform: lowercase;/
   

    .box{
    height:200px;
    width:200px;
    margin:50px;
    padding:50px;
    background-color:blue
    color:white;

   }*/