.parents {
    height: 600p;
    width: 900px;
    background-color: brown;
    padding: 10px;

}

   .child{
    height: 600px;
    width: 900px;
    background-color: bisque;
    border: 1px solid black;
    margin: 10px;
    font-size: 25px;
    /*display:inline-size: ;*/
    display: inline-block;
   }
   #box3 