.parents{
    background-color: aquamarine;
    height: 90vh;
    width: 90vw;
    padding: 1rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    font-size: 2.5rem;
}

.child{
    background-color: rgb(223, 29, 227);
    color: white;
    border: 2px solid black;
    
}
#header{
        grid-column-start: 1;
        grid-column-end: 3;
    }
#nav{
        grid-column-start: 1;
        grid-column-end: 3 ;
     }
      

#footer{
        grid-column-start: 1;
        grid-column-end: 3;
    }

#aside{
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
}