*{
    background-color: black;

}

.parents{
    height: 80vh;
    width: 80vw;
    background-color: gray;
    border: 2px solid black;
    padding: 2rem;
    position: relative;

}

.child{
    height: 20%;
    width: 20%;
    background-color: red;
    margin: 2rem;
    display: inline-block;
    color: aqua;
    font-size: 3rem;
    padding: 0.4rem;
}

 top, bottom , left, right
#child3{
     position: static;
    top: 300px; 
    right: 50%;
}
